<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach
	<%= link_to "Ruby On Rails", "http://rubyonrails.org" %>
	in one month. This is the sample application.

<p> About the instructor! <img Height="60X60" Width="60X60" src="http://www.thinknice.com/wp-content/uploads/2010/12/nature-photography-6.jpg" class="img-circle">
</p>

</p>

